30 * * * * source /var/www/html/.docker/env.sh && cd /var/www/html/ && /usr/local/bin/php index.php -j=refresh
30 1 * * * source /var/www/html/.docker/env.sh && cd /var/www/html/ && /usr/local/bin/php index.php -j=clear-log
